body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
}

main{
    margin-top: 150px;
    background: white;
    height: 100%;
    width: 75%;
    text-align: center;
}

#header{
    background-color: white;
    margin-bottom: 20px;
    position: fixed;
    width: 75%;
    text-align: center;
    height: 150px;
}

#header h1{
    margin-top: 20px;
}


article{
    text-align: left;
    border: thin solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

article h3{
    margin-bottom: 5px;
}

article span{
    font-size: 15px;
    color: gray;
}

#dropdowns{
    display: flex;
    justify-content: center;
}

.dropdown {
    border: 1px solid #777;
    border-radius: 4px;
    padding: 0 5px;
    width:200px;
    background-color:#fff;
    position:relative;
    text-align: left;
    margin-right: 10px;
  }

  .dropdown label{
    font-size:8px;
    text-transform: uppercase;
    color: #777;
    padding: 8px 0px;  
    top:6px;
  }
  
  select{
    background-color: #fff;
    border:0px;
    height:25px ;
    font-size: 16px;
    width: 100%
  }

  #loadArticle{
      margin: 10px;
      margin-top: 50px;
      margin-bottom: 50px;
  }

  #loadArticle a{
    padding: 10px;
    background-color: rgb(23, 70, 199);
    text-decoration: none;
    color: white;
  }

  /* --------- Loading Animation --------- */

  .lds {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #cef;
    animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds div:nth-child(3) {
    left: 56px;
    animation-delay: 0s;
  }
  @keyframes lds {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  

